<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    {% block header %}{% endblock %}
</head>
<body>
<div class=page>
  <h1>Toolbar example</h1>
  <div>
  {% block body %}{% endblock %}
  </div>
</div>
</body>
</html>