{% extends "base.html" %}
{% block header %}
    <script src="/static/js/jquery-3.5.0.js"></script>
    <script src="/static/js/book_add.js"></script>
{% endblock %}

{% block body %}
<div class="container">
    <form action="/add" class="form-add" method="post" role="form">
        <h3> 登録する本のISBNを入力してください</h3>
        <input type="text" maxlength="14" name="isbn" id="isbn" class="form-control" placeholder="isbn" required>
        <button class="btn btn-lg btn-primary btn-block" type="button">登録！ </button>
    </form>
</div>
<span id="status"></span>

    <div class="booklist">
    {% if booklist %}
    <table>
    <tr>
        <td>タイトル</td>
         <td>作者</td>
    </tr>
  {% for booklist in booklist %}
      <tr>
          <td>{{ booklist.title }}</td>
          <td>{{ booklist.creator}}</td>
      </tr>
      {% endfor %}

    </table>
        </div>
    {% else %}
    <h2>No Data</h2>
    {% endif %}
{% endblock %}