<div class="booklist">
    <table>
    <tr>
        <td>タイトル</td>
         <td>作者</td>
    </tr>
  {% for booklist in booklist %}
      <tr>
          <td>{{ booklist.title }}</td>
          <td>{{ booklist.creator}}</td>
      </tr>
      {% endfor %}

    </table>
</div>
